<div class="container-flex carrossel" id="slider-container">
    <div id="slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" class="active" data-bs-target="#slider" data-bs-slide-to="0" aria-current="true"
                aria-label="Slide 1">
            </button>
            <button type="button" data-bs-target="#slider" data-bs-slide-to="1" aria-label="Slide 2">
            </button>
            <button type="button" data-bs-target="#slider" data-bs-slide-to="2" aria-label="Slide 3">
            </button>
        </div>
        <div class="carousel-inner position-static">
            <!-- Imagem 1 -->
            <div class="carousel-item active">
                <img class="imagem-carrossel img-fluid" src="assets/img/02_img01_slide1_imagem1.jpg" alt="Imagem 1"
                    class="d-block w-100">
                <div class="carousel-caption item-texto-carrossel">
                    <h2 class="texto-carrosssel">Infinitos mundos, com tudo o que você precisa para seus jogos!</h2>
                </div>
            </div>
            <!-- Imagem 2 -->
            <div class="carousel-item">
                <img class="imagem-carrossel img-fluid" src="assets/img/02_img02_slide1_imagem2.jpg" alt="Imagem 2"
                    class="d-block w-100">
                <div class="carousel-caption item-texto-carrossel">
                    <h2 class="texto-carrosssel">Muito além do básico</h2>
                </div>
            </div>
            <!-- Imagem 3 -->
            <div class="carousel-item">
                <img class="imagem-carrossel img-fluid" src="assets/img/02_img03_slide1_imagem3.jpg" alt="Imagem 3"
                    class="d-block w-100">
                <div class="carousel-caption item-texto-carrossel">
                    <h2 class="texto-carrosssel">O melhor desempenho pelo melhor preço!</h2>
                </div>
            </div>
            <!-- ----- -->
        </div>
        <!-- Botão esquerdo de carrossel -->
        <button class="carousel-control-prev botao_carrossel botao_carrossel-esquerdo" type="button"
            data-bs-target="#slider" data-bs-slide="prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>
            <span class="visually-hidden">Previous</span>
        </button>
        <!-- Botão direito de carrossel -->
        <button class="carousel-control-next botao_carrossel botao_carrossel-direito" type="button"
            data-bs-target="#slider" data-bs-slide="next">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg>
            <span class="visually-hidden">next</span>
        </button>
    </div>
</div>
