<!-- SMARTPHONE - CARROSSEL -->
<div class="container-flex smartphone-slide">
    <div id="smartphones" class="carousel slide" data-ride="carousel">
        <div class="carousel-indicators indicadores-slide indicadores-smartphone">
            <button type="button" class="active" data-bs-target="#smartphones" data-bs-slide-to="0"
                aria-current="true" aria-label="Slide 1">
            </button>
            <button type="button" data-bs-target="#smartphones" data-bs-slide-to="1" aria-label="Slide 2">
            </button>
        </div>
        <div class="carousel-inner">
            <div class="box-smartphone box-smartphone-titulo">
                <a href="#" style="text-decoration: none;">
                    <h3 class="titulo-smartphone">SMARTPHONES</h3>
                </a>
            </div>
            <div class="carousel-item active">
                <div class="box-smartphone-box">
                    <!-- Item 01 -->
                    <div class="container box-smartphone box-smartphone-item1">
                        <a class="smartphone-link-item" href="#">
                            <img class="smartphone-img-item" src="assets/img/04_img01_carouselSnartphones_phone01.png"
                                alt="">
                            <label class="smartphone-texto-item">
                                Redmi K40 12GB Ram 256GB
                                R$ 3.399,00
                            </label>
                        </a>
                    </div>
                    <!-- Item 02 -->
                    <div class="container box-smartphone box-smartphone-item2">
                        <a class="smartphone-link-item" href="#">
                            <img class="smartphone-img-item" src="assets/img/04_img02_carouselSnartphones_phone02.png"
                                alt="">
                            <label class="smartphone-texto-item">
                                Poco M4 Pro 5G Smartphone 128GB, 6 GB RAM, Dual Sim
                                R$ 1.504,00
                            </label>
                        </a>
                    </div>
                    <!-- Item 03 -->
                    <div class="container box-smartphone box-smartphone-item3">
                        <a class="smartphone-link-item" href="#">
                            <img class="smartphone-img-item" src="assets/img/04_img03_carouselSnartphones_phone03.png"
                                alt="">
                            <label class="smartphone-texto-item">
                                Smartphone Samsung Galaxy S20 Fe 128GB Cloud Mint 4G 6gb Ram
                                R$ 1.900,00
                            </label>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="box-smartphone-box">
                    <!-- Item 01 -->
                    <div class="container box-smartphone box-smartphone-item1 box-smartphone-item4">
                        <a class="smartphone-link-item" href="#">
                            <img class="smartphone-img-item" src="assets/img/04_img04_carouselSnartphones_phone04.png"
                                alt="">
                            <label class="smartphone-texto-item">
                                Smartphone Motorola Moto G100 256GB Luminous Ocean
                                R$ 1.875,00
                            </label>
                        </a>
                    </div>
                    <!-- Item 02 -->
                    <div class="container box-smartphone box-smartphone-item2 box-smartphone-item5">
                        <a class="smartphone-link-item" href="#">
                            <img class="smartphone-img-item" src="assets/img/04_img05_carouselSnartphones_phone05.png"
                                alt="">
                            <label class="smartphone-texto-item">
                                Smartphone Gamer ROG Phone 5s
                                R$ 4689,00
                            </label>
                        </a>
                    </div>
                    <!-- Item 03 -->
                    <div class="container box-smartphone box-smartphone-item3 box-smartphone-item6">
                        <a class="smartphone-link-item" href="#">
                            <img class="smartphone-img-item" src="assets/img/04_img06_carouselSnartphones_phone06.png"
                                alt="">
                            <label class="smartphone-texto-item">
                                Smartphone Samsung Galaxy M52 5G 128GB Branco 6gb Ram R$ 1598,40
                            </label>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Botão esquerdo de carrossel -->
        <button class="carousel-control-prev botao-smartphone botao-smartphone-esquerdo" type="button"
            data-bs-target="#smartphones" data-bs-slide="prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>
            <span class="visually-hidden">Previous</span>
        </button>
        <!-- Botão direito de carrossel -->
        <button class="carousel-control-next botao-smartphone botao-smartphone-direito" type="button"
            data-bs-target="#smartphones" data-bs-slide="next">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg>
            <span class="visually-hidden">next</span>
        </button>
        <a href="#" class="container btn btn-dark btn-vermais">Ver todos</a>
    </div>
</div>

