<header class="container-fluid nav01 navbar-expand-lg fixed-top cont ">
    <!-- LOGO -->
    <div class="box box-1 logo">
        <a href="" class="navbar-brand brand-img logo1"><img class="logo_imagem"
                src="assets/img/01_img01_nav_logo.png" alt="logo" width="100"></a>
    </div>
    <!-- CAMPO DE PESQUISA -->
    <div class="box box-2 pesquisa">
        <div class="botao_pesquisa">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false"
                aria-label="Alterna navegação">
                <img class="menu-icon" src="assets/img/01_img02_nav_menuBar.jpg" alt="">
            </button>
            <input class="campo-pesquisa" type="text" placeholder="Busque por equipamentos, consoles e muito mais!">
            <button class="btn btn-outline-danger botao-pesquisa"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg></button>
        </div>
    </div>
    <!-- CAMPO PARA LOGIN, CARRINHO  E FAVORITOS -->
    <div class="box box-3 login_favoritos">
        <div class="d-flex login_">
            <!-- LOGIN -->
            <ul class="botao-login">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown">
                        <img class="login" src="assets/img/01_img03_nav_login.png" width="40" height="40"
                            alt="Login" data-toggle="tooltip" data-placement="top" title="Login">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Criar conta</a>
                        <div class="dropdown-divider"></div>
                        <a routerLink="login" class="dropdown-item" href="#">Entrar</a>
                    </div>
                </li>
            </ul>
            <!-- CARRINHO -->
            <div class="carrinho">
                <a href="#" class="d-flex align-items-center justify-content-center item_log"><img
                        class="login item_log2" src="assets/img/01_img04_nav_carrinho.png" alt="Carrinho"
                        title="Carrinho" data-toggle="tooltip"></a>
                <div id="conteudo-carrinho">

                </div>
            </div>
            <!-- FAVORITOS -->
            <div class="favoritos">
                <a href="#" class="d-flex align-items-center justify-content-center item_log item_log3"><img
                        class="login item_log3" src="assets/img/01_img04_nav_favoritos.png" alt="Favoritos"
                        title="Favoritos" data-toggle="tooltip"></a>
                <div id="conteudo-favoritos">

                </div>
            </div>


        </div>
    </div>
    <!-- BARRA DE NAVEGAÇÃO -->
    <div class="box box-4 barra_navegacao container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary-color nav02">
            <!-- para agrupar e esconder conteúdos navbar, de acordo com o breakpoint do pai. -->
            <nav class="collapse navbar-collapse lista nav-itens" id="conteudoNavbarSuportado">
                <!-- Navbar itens-->
                <ul class="navbar-nav mr-auto container">
                    <div class="d-flex login_ login-783">
                        <!-- LOGIN -->
                        <div class="item-783">
                            <a href="#" class="d-flex align-items-center justify-content-center item_log"><img
                                    class="login item_log1" src="assets/img/01_img03_nav_login.png" alt=""></a>
                            <label for="item_log">Login</label>
                        </div>
                        <!-- CARRINHO -->
                        <div class="item-783">
                            <a href="#" class="d-flex align-items-center justify-content-center item_log"><img
                                    class="login item_log2" src="assets/img/01_img04_nav_carrinho.png" alt=""></a>
                            <label for="item_log">Carrinho</label>
                        </div>
                        <!-- FAVORITOS -->
                        <div class="item-783">
                            <a href="#" class="d-flex align-items-center justify-content-center item_log"><img
                                    class="login item_log3" src="assets/img/01_img04_nav_favoritos.png" alt=""></a>
                            <label for="item_log">Favoritos</label>
                        </div>
                    </div>
                    <!-- Item 1 -->
                    <li class="nav-item-dropdown item_1 item_nav container">
                        <a href="#" class="nav-link itemDaNav" id="navbarDropdown" 
                            aria-haspopup="true" aria-expanded="false" routerLink="">
                            HOME
                        </a>
                    </li>
                    <li class="nav-item-dropdown item_1 item_nav container">
                        <a href="#" class="nav-link dropdown toggle itemDaNav" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            NOTEBOOKS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="#" class="dropdown-item">Acer</a>
                            <a href="#" class="dropdown-item">Dell</a>
                            <a href="#" class="dropdown-item">Sansumg</a>
                            <a href="#" class="dropdown-item">Lenovo</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Todos</a>
                        </div>
                    </li>
                    <!-- Item 2 -->
                    <li class="nav-item-dropdown item_2 item_nav container">
                        <a href="#" class="nav-link dropdown toggle itemDaNav" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            DESKTOP
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="#" class="dropdown-item">PC básico</a>
                            <a href="#" class="dropdown-item">PC gamer</a>
                            <a href="#" class="dropdown-item">Servidor</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Todos</a>
                        </div>
                    </li>
                    <!-- Item 3 -->
                    <li class="nav-item-dropdown item_nav container">
                        <a href="#" class="nav-link dropdown toggle itemDaNav" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            CONSOLES
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="#" class="dropdown-item">Xbox</a>
                            <a href="#" class="dropdown-item">Playstation</a>
                            <a href="#" class="dropdown-item">Nitendo</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Todos</a>
                        </div>
                    </li>
                    <!-- Item 4 -->
                    <li class="nav-item-dropdown item_nav container">
                        <a href="#" class="nav-link dropdown toggle itemDaNav" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ACESSÓRIOS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="#" class="dropdown-item">Fone de ouvido headset</a>
                            <a href="#" class="dropdown-item">Teclados</a>
                            <a href="#" class="dropdown-item">Mouse</a>
                            <a href="#" class="dropdown-item">Mousepad</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Todos</a>
                        </div>
                    </li>
                    <!-- Item 5 -->
                    <li class="nav-item-dropdown item_nav container">
                        <a href="#" class="nav-link dropdown toggle itemDaNav" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            HARDWARE
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="#" class="dropdown-item ii">Placa de vídeo</a>
                            <a href="#" class="dropdown-item">SSD</a>
                            <a href="#" class="dropdown-item">Memória RAM</a>
                            <a href="#" class="dropdown-item iu">Placa-mãe</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Todos</a>
                        </div>
                    </li>
                    <!-- Item 6 -->
                    <li class="nav-item-dropdown item_nav container">
                        <a href="#" class="nav-link dropdown toggle itemDaNav" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            SMARTPHONES
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="#" class="dropdown-item ii">Samsung</a>
                            <a href="#" class="dropdown-item">Motorola</a>
                            <a href="#" class="dropdown-item">Iphone</a>
                            <a href="#" class="dropdown-item iu">Mousepad</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">Todos</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </nav>
    </div>
</header>

