* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.barra_navegacao {
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
}

.dropdown-menu {
    background: #0F0D0D;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    color: #0F0D0D;
}

.dropdown-divider {
    background: #fff;
}

.login-783 {
    visibility: hidden;
    width: 0;
    height: 0;
}

/* -------------------------------------------------------- */

.nav01 {
    text-align: center;
    top: 0;
    background: #0B1F3B;
}

.cont {
    position: sticky;
}

/* NAVBAR --------------------------------------------------------------------------------------------*/

.box {
    background: #0B1F3B;
    /* border: 1px solid #fff;  */
    padding: 10px;
    color: #fff;
}

.cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* justify-items: stretch; */
}

.logo {
    width: 90%;
}

.logo1 {
    float: right;
    margin-top: -0.8rem;
}

.logo1:hover {
    background: radial-gradient(50% 50% at 50% 50%,
            rgba(255, 0, 0, 0.54) 0%,
            rgba(255, 0, 19, 0.54) 0.01%,
            rgba(25, 91, 152, 0) 100%),
        #0B1F3B;
}

.pesquisa {
    grid-column: 2/4;
    /* border: 1px solid red; */
}

.barra_navegacao {
    grid-column: 1/5;
}

.item_nav {
    height: 1rem;
}

.box-1,
.box-2,
.box-3 {
    height: 5.5rem;
}

.menu-icon {
    right: 0;
    height: 0;
}

.campo-pesquisa {
    margin-top: 1rem;
    width: 70%;
    height: 2.7rem;
    border-radius: 10px;
    box-shadow: 0 0 0;
    border: 0 none;
    outline: none;
    text-align: left;
    border: 1px solid #FF0000;
}


.botao-pesquisa {
    height: 2.6rem;
    width: 3rem;
}

.botao_pesquisa {
    width: 100%;
}

.botao-login {
    list-style: none;
}

.login_ {
    float: left;
    margin-top: 1.7rem;
}

.login {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    margin-top: 0rem;
    border-radius: 7%;
}

.login:hover {
    background: #FF0000;
}

#conteudo-login {
    visibility: hidden;
    height: 0;
    width: 0;
}

.item_log2 {
    height: 100%;
}

#conteudo-carrinho {
    visibility: hidden;
    position: absolute;
}

#conteudo-carrinho p {
    width: 100%;
    text-align: left;
}

.carrinho:hover #conteudo-carrinho {
    visibility: visible;
    position: absolute;
}

#conteudo-favoritos {
    position: absolute;
    visibility: hidden;
}

.favoritos:hover #conteudo-favoritos {
    visibility: visible;
}

.botao-login:hover #conteudo-login {
    position: absolute;
    visibility: visible;
    height: 1px;
    width: 1px;
}

.itemDaNav {
    font-weight: bold;
}

.itemDaNav:hover {
    text-decoration: underline 1.5px solid red;
}

.item_nav .dropdown-menu {
    background: #0F0D0D;
}

.item_nav .dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #FF0000;
    color: #fff;
}

.dropdown-divider {
    background: #fff;
}
@media(max-width:991px) {

    /* NAVBAR */
    .menu-icon {
        right: 3rem;
        height: 3rem;
    }

    .campo-pesquisa {

        width: 60%;
        height: 2.7rem;
        border-radius: 10px;
        box-shadow: 0 0 0;
        border: 0 none;
        outline: none;
        text-align: left;
        border: 1px solid #FF0000;
    }

    .botao-pesquisa {
        height: 2.6rem;
    }

    .item_nav {
        height: auto;
    }

    /* SLIDE - CARROSSEL */

}

@media(max-width:783px) {
    .dropdown-menu {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    /* NAVBAR */
    .logo {
        width: 100%;
    }
    
    .logo1 {
        float: none;
    }

    .logo_imagem {
        width: 90px;
        height: 90px;
    }

    .login-783 {
        visibility: visible;
        width: auto;
        height: auto;
    }

    .item-783 {
        margin: 1.2rem;
    }

    .cont {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "n-box1 n-box1 n-box1 n-box1"
            "n-box2 n-box2 n-box2  n-box2"
    }

    .box-1 {
        grid-area: n-box1;
        height: 6rem;
    }

    .box-2 {
        grid-area: n-box2;
        height: 4rem;
    }

    .box-3 {
        grid-area: none;
        display: none;
    }

    .botao_pesquisa {
        margin: none;
        float: right;
    }

    .campo-pesquisa {
        margin-top: 0;
        margin-top: 0;
        width: 75%;
    }

    .login_ {
        float: none;
        margin-top: 0;
    }

    .itemDaNav {
        float: left;
        margin-left: 0;
    }
}

@media(max-width:583px) {
    /* NAVBAR */


    .logo1 {
        float: none;
    }

    .logo_imagem {
        width: 80px;
        height: 80px;
    }

    .box-1 {
        height: 5.5rem;
    }

    .campo-pesquisa {
        width: 70%;
    }

    .box-2 {
        height: 4rem;
    }

    /* .login_favoritos
    {
        grid-column: 5/5;
    } */
    .login_ {
        /* float: right; */
        margin-top: 0;

    }

    .item_log {
        margin-right: 0;
    }

    .itemDaNav {
        float: left;
        margin-left: 2rem;
        font-size: 14px;
    }

    .item_log1 {
        margin-left: 0;
    }

}

@media(max-width:438px) {
    .btn-vermais {
        margin-top: 1rem;
        width: 20%;
        margin-left: 40%;
        margin-right: 40%;
        border: none;
        margin-bottom: 1rem;
        font-size: 12px;
    }

    /* NAVBAR */
    .menu-icon {
        right: 2.5rem;
        height: 2.5rem;
    }

    .logo {
        grid-column: 1/5;
    }

    .logo1 {
        float: none;
    }

    .logo_imagem {
        width: 70px;
        height: 70px;
    }


    .box-1 {
        height: 5rem;
    }

    .box-2,
    .box-3 {
        height: 4rem;
        /* border: 1px solid red */
    }

    .botao-pesquisa {
        height: 2.5rem;
        width: 2.5rem;
    }


    .login {
        width: 1.5rem;
        height: 1.5rem;
    }

    .item_log {
        margin-right: 0;
    }

    .itemDaNav {
        float: left;
        margin-left: 2rem;
        font-size: 14px;
    }

    .campo-pesquisa {
        width: 60%;
        height: 2.5rem;
    }

    .item_log1 {
        margin-left: 0;
    }

}