* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(180deg, rgba(11, 31, 59, 0.85) 53.48%, rgba(255, 0, 0, 0.85) 100%);
    background-repeat: no-repeat;
}

.area-login {
    position: relative;
    background: rgba(11, 31, 59, 0.5);
    border-radius: 15px;
    width: 40%;
    margin-left: 30%;
}

.titulo-login {
    padding-top: 3rem;
    margin-top: 4rem;
    font-weight: bold;
    color: #fff;
    width: 100%;
    text-align: center;
}

.entrada-email,
.entrada-senha {
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    font-size: 18px;
    height: 3rem;
}

.botao-submit {
    margin-top: 1rem;
    width: 80%;
    height: 3rem;
    margin-left: 10%;
    font-size: 26px;
    background: #0B1F3B;
}

.botao-submit:hover {
    background: #FF0000;
    opacity: 0.85;
    border: none;
}

.texto-link {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    color: #fff;
}

.texto-link2 {
    padding-bottom: 2rem;
}

.link {
    text-decoration: none;
}

@media(max-width:991px) {
    .area-login {
        background: rgba(11, 31, 59, 0.5);
        border-radius: 15px;
        border-radius: 15px;
        width: 70%;
        margin-left: 15%;
    }

    .titulo-login {
        padding-top: 3rem;
        margin-top: 4rem;
        font-weight: bold;
        color: #fff;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    .entrada-email,
    .entrada-senha {
        width: 80%;
        margin-left: 10%;
        border-radius: 10px;
        font-size: 16px;
        height: 3rem;
    }

    .botao-submit {
        margin-top: 1rem;
        width: 80%;
        height: 3rem;
        margin-left: 10%;
        font-size: 20px;
        background: #0B1F3B;
    }

    .botao-submit:hover {
        background: #FF0000;
        opacity: 0.85;
        border: none;
    }

    .texto-link {
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 14px;
    }
}

@media(max-width:768px) {
    .area-login {
        position: relative;
        background: rgba(11, 31, 59, 0.5);
        border-radius: 15px;
        width: 80%;
        margin-left: 10%;
    }

    .titulo-login {
        padding-top: 3rem;
        margin-top: 4rem;
        font-weight: bold;
        color: #fff;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    .entrada-email,
    .entrada-senha {
        width: 80%;
        margin-left: 10%;
        border-radius: 10px;
        font-size: 14px;
        height: 3rem;
    }

    .botao-submit {
        margin-top: 1rem;
        width: 80%;
        height: 3rem;
        margin-left: 10%;
        font-size: 18px;
        background: #0B1F3B;
    }

    .botao-submit:hover {
        background: #FF0000;
        opacity: 0.85;
        border: none;
    }

    .texto-link {
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 14px;
    }
}