<div class="container-flex acessorios-slide">
    <div id="acessorios" class="carousel slide" data-ride="carousel">
        <div class="carousel-indicators indicadores-slide indicadores-acessorios">
            <button type="button" class="active" data-bs-target="#acessorios" data-bs-slide-to="0" aria-current="true"
                aria-label="Slide 1">
            </button>
            <button type="button" data-bs-target="#acessorios" data-bs-slide-to="1" aria-label="Slide 2">
            </button>
        </div>
        <div class="carousel-inner">
            <div class="box-acessorios-titulo">
                <a href="#" style="text-decoration: none;">
                    <h3 class="titulo-acessorios">ACESSÓRIOS</h3>
                </a>
            </div>
            <div class="carousel-item active">
                <div class="box-acessorios-box">
                    <!-- Item 1 -->
                    <div class="box-acessorios box-acessorios-item1">
                        <a class="acessorios-link-item" href="#">
                            <label class="acessorios-texto-item">
                                Teclado Mecânico Gamer Redragon Kumara Vermelho Switch Blue
                                R$ 250,00
                            </label>
                            <img class="acessorios-img-item" src="assets/img/06_img01_carouselAcessorios_img01.webp"
                                alt="">
                        </a>
                    </div>
                    <!-- Item 2 -->
                    <div class="box-acessorios box-acessorios-item2">
                        <a class="acessorios-link-item" href="#">
                            <label class="acessorios-texto-item">
                                THeadset Gamer Mancer Twilight, RGB, R$ 115,00
                            </label>
                            <img class="acessorios-img-item" src="assets/img/06_img02_carouselAcessorios_img02.png"
                                alt="">
                        </a>
                    </div>
                    <!-- Item 3 -->
                    <div class="box-acessorios box-acessorios-item3">
                        <a class="acessorios-link-item" href="#">
                            <label class="acessorios-texto-item">
                                Mouse Gamer Redragon 7200DPI, RGB, Griffin - M607
                                R$ 100,00
                            </label>
                            <img class="acessorios-img-item" src="assets/img/06_img03_carouselAcessorios_img03.webp"
                                alt="">
                        </a>
                    </div>
                    <!-- Item 4 -->
                    <div class="box-acessorios box-acessorios-item4">
                        <a class="acessorios-link-item" href="#">
                            <label class="acessorios-texto-item">
                                Controle Sem Fio Sony Dualshock 4 metalico PS4
                                R$ 175,50
                            </label>
                            <img class="acessorios-img-item" src="assets/img/06_img04_carouselAcessorios_img04.jpg"
                                alt="">
                        </a>
                    </div>
                    <!-- Item 5 -->
                    <div class="box-acessorios box-acessorios-item5">
                        <a class="acessorios-link-item" href="#">
                            <label class="acessorios-texto-item">
                                Mouse Pad Gamer Extra Grande RGB
                                R$ 145,80
                            </label>
                            <img class="acessorios-img-item" src="assets/img/06_img05_carouselAcessorios_img05.png"
                                alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="box-acessorios-box">
                    <!-- Item 1 -->
                    <div class="box-acessorios box-acessorios-item1">
                        <a class="acessorios-link-item" href="#">
                            <label class="acessorios-texto-item">
                                Volante Logitech Driving Force G29 R$ 1459,90
                            </label>
                            <img class="acessorios-img-item" src="assets/img/06_img06_carouselAcessorios_img06.webp"
                                alt="">
                        </a>
                    </div>
                    <!-- Item 2 -->
                    <div class="box-acessorios box-acessorios-item2">
                        <a class="acessorios-link-item" href="#">
                            <label class="acessorios-texto-item">
                                Mochila Para Notebook Dell Gaming 17 R$ 268,00
                            </label>
                            <img class="acessorios-img-item" src="assets/img/06_img07_carouselAcessorios_img07.webp"
                                alt="">
                        </a>
                    </div>
                    <!-- Item 3 -->
                    <div class="box-acessorios box-acessorios-item3">
                        <a class="acessorios-link-item" href="#">
                            <label class="acessorios-texto-item">
                                Controle de Game sem fio, para Android, iPhone R$ 150,00
                            </label>
                            <img class="acessorios-img-item" src="assets/img/06_img08_carouselAcessorios_img08.png"
                                alt="">
                        </a>
                    </div>
                    <!-- Item 4 -->
                    <div class="box-acessorios box-acessorios-item4">
                        <a class="acessorios-link-item" href="#">
                            <label class="acessorios-texto-item">
                                Microfone Redragon Gamer Seyfert Gm100 R$ 215,55
                            </label>
                            <img class="acessorios-img-item" src="assets/img/06_img09_carouselAcessorios_img09.webp"
                                alt="">
                        </a>
                    </div>
                    <!-- Item 5 -->
                    <div class="box-acessorios box-acessorios-item5">
                        <a class="acessorios-link-item" href="#">
                            <label class="acessorios-texto-item">
                                Placa de Vídeo Gigabyte - GeForce RTX 3050, 8GB R$ 2300,00
                            </label>
                            <img class="acessorios-img-item" src="assets/img/06_img10_carouselAcessorios_img10.webp"
                                alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Botão esquerdo de carrossel -->
        <button class="carousel-control-prev botao-smartphone botao-smartphone-esquerdo" type="button"
            data-bs-target="#acessorios" data-bs-slide="prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>
            <span class="visually-hidden">Previous</span>
        </button>
        <!-- Botão direito de carrossel -->
        <button class="carousel-control-next botao-smartphone botao-smartphone-direito" type="button"
            data-bs-target="#acessorios" data-bs-slide="next">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg>
            <span class="visually-hidden">next</span>
        </button>
        <a href="#" class="container btn btn-dark btn-vermais">Ver todos</a>
    </div>
</div>