<footer class="container-flex rodape-00">
    <div class="container-flex rodape footer">
        <div class="box-rodape-box">
            <div class="box-rodape box-rodape-item1">
                <a class="link-topo" href="#">
                    <div class="d-flex">
                        <p class="voltar-topo"> Voltar ao topo</p>
                        <i class="bi bi-chevron-up icone-rodape-topo"></i>
                    </div>
                </a>
            </div>
            <div class="box-rodape box-rodape-item2">
                <ul class="coluna1-rodape">
                    <li>
                        <a href="#" class="link-item-rodape">
                            <p class="texto-col-rodape" style="font-weight: bold;">Mapa do site</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link-item-rodape">
                            <p class="texto-col-rodape">Promoções</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="link-item-rodape">
                            <p class="texto-col-rodape">FAQ Loja online</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="box-rodape box-rodape-item3">
                <ul class="coluna2-rodape">
                    <li>
                        <h6 class="suporte-texto">Precisa de suporte?</h6>
                    </li>
                    <li>
                        <a href="#" class="link-item-rodape">
                            <div class="d-flex">
                                <i class="bi bi-chat-right-dots-fill icone-rodape icone-suporte"></i>
                                <p class="texto-col-rodape">Chat online</p>
                                <i class="bi bi-pencil-square icone-rodape-write"></i>
                            </div>
                        </a>
                    </li>
                    <!-- Item 2 -->
                    <li>
                        <a href="#" class="link-item-rodape">
                            <div class="d-flex">
                                <i class="bi bi-envelope-fill icone-rodape icone-suporte"></i>
                                <p class="texto-col-rodape">Email</p>
                                <i class="bi bi-pencil-square icone-rodape-write"></i>
                            </div>
                        </a>
                    </li>
                    <!-- Item 3 -->
                    <li>
                        <a href="#" class="link-item-rodape">
                            <a href="#" class="link-item-rodape">
                                <div class="d-flex">
                                    <i class="bi bi-telephone-fill icone-rodape icone-suporte"></i>
                                    <p class="texto-col-rodape">Fale conosco</p>
                                </div>
                            </a>
                        </a>
                    </li>
                    <!-- Item 4 -->
                    <li>
                        <a href="#" class="link-item-rodape">
                            <div class="d-flex">
                                <i class="bi bi-display-fill icone-rodape icone-suporte"></i>
                                <p class="texto-col-rodape">Assistência online</p>
                                <i class="bi bi-pencil-square icone-rodape-write"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="box-rodape box-rodape-item4">
                <ul class="coluna2-rodape">
                    <li>
                        <h6 class="rede-social-2">SIGA-NOS</h6>
                    </li>
                    <li>
                        <a href="#" class="link-item-rodape">
                            <div class="d-flex">
                                <a href="#">
                                    <i class="bi bi-facebook icone-rodape icone-facebook" title="Facebook"
                                        data-toggle="tooltip"></i>
                                </a>
                                <a href="#">
                                    <i class="bi bi-twitter icone-rodape icone-twitter" title="Twitter"
                                        data-toggle="tooltip"></i>
                                </a>
                                <a href="#">
                                    <i class="bi bi-youtube icone-rodape icone-youtube" title="YouTube"
                                        data-toggle="tooltip"></i>
                                </a>
                                <a href="#">
                                    <i class="bi bi-instagram icone-rodape icone-instagram" title="Instagram"
                                        data-toggle="tooltip"></i>
                                </a>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-flex parte2-rodape">
        <div class="box2-rodape-box">
            <div class="box-rodape2 box-rodape2-item1">
                <a class="link-rodape2" href="#">
                    <h6 class="texto-rodape2-1">ACESSIBILIDADE</h6>
                </a>
            </div>
            <div class="box-rodape2 box-rodape2-item2">
                <a class="link-rodape2" href="#">
                    <h6 class="texto-rodape2-1">TERMOS E CONDIÇÕES</h6>
                </a>
            </div>
            <div class="box-rodape2 box-rodape2-item3">
                <a class="link-rodape2" href="#">
                    <h6 class="texto-rodape2-1">PRIVACIDADE</h6>
                </a>
            </div>
            <div class="box-rodape2 box-rodape2-item4">
                <a class="link-rodape2" href="#">
                    <h6 class="texto-rodape2-1">LEGAL</h6>
                </a>
            </div>
            <div class="box-rodape2 box-rodape2-item5">
                <h6 class="texto-rodape2-2">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Aut ratione consequuntur laudantium fugit veritatis sed amet
                    atque excepturi laboriosam ullam nisi natus, pariatur voluptates
                    similique quisquam veniam at neque quod, temporibus nihil incidunt,
                    non odio. Est culpa dolores accusantium officiis?
                </h6>
            </div>
        </div>
    </div>
</footer>
