<div class="container-flex novidades-banner">
    <div class="box-novidades-box">
        <!--01 Título -->
        <div class="box-novidades box-novidades-titulo">
            <a href="#" style="text-decoration: none;">
                <h3 class="titulo-novidades">NOVIDADES</h3>
            </a>
        </div>
        <!--02 Destaque -->
        <div class="box-novidades box-novidades-destaque">
            <a class="link-novidades" href="#">
                <label for="" class="texto-novidades texto-novidades-destaque">
                    Console Xbox Series X 1 TB Microsoft
                    R$ 5400
                </label>
                <img class="img-novidades img-novidades-destaque"
                    src="assets/img/05_img01_SectionNovidades_destaque.webp" alt="destaque">
            </a>
        </div>
        <!-- 03  item1-->
        <div class="box-novidades box-novidades-item1">
            <a class="link-novidades" href="#">
                <img class="img-novidades img-novidades-item" src="assets/img/05_img02_SectionNovidades_img01.png"
                    alt="item1">
                <label for="" class="texto-novidades">
                    PC Gamer Neologic X
                    R$ 6.500,00
                </label>
            </a>
        </div>
        <!-- 04  item2-->
        <div class="box-novidades box-novidades-item2">
            <a class="link-novidades" href="#">
                <img class="img-novidades img-novidades-item" src="assets/img/05_img03_SectionNovidades_img02.png"
                    alt="item2">
                <label for="" class="texto-novidades">
                    Acer Aspire Nitro 5 AN515-54-528V
                    R$ 10.00,43
                </label>
            </a>
        </div>
        <!-- 05  item3-->
        <div class="box-novidades box-novidades-item3">
            <a class="link-novidades" href="#">
                <img class="img-novidades img-novidades-item" src="assets/img/05_img04_SectionNovidades_img03.png"
                    alt="item3">
                <label for="" class="texto-novidades">
                    Notebook gamer Dell G15 G15-a0700-MM20P
                    R$ 7.897,33
                </label>
            </a>
        </div>
        <!-- 06  item4-->
        <div class="box-novidades box-novidades-item4">
            <a class="link-novidades" href="#">
                <img class="img-novidades img-novidades-item" src="assets/img/05_img05_SectionNovidades_img04.png"
                    alt="item4">
                <label for="" class="texto-novidades">
                    Mini Tower Ultra
                    R$ R$ 1.550,00
                </label>
            </a>
        </div>
        <div class="box-novidades box-novidades-botao">
            <a href="#" class="container btn btn-dark btn-vermais">Ver todos</a>
        </div>
    </div>
</div>
