<div class="container-flex promocoes">
    <div class="box-promo-box">
        <!-- Título do banner -->
        <div class="box-promo box-promo-titulo">
            <a class="link-promo" href="#">
                <h3 class="titulo-prom">PROMOÇÕES</h3>
            </a>
        </div>
        <!-- Produto em destaque -->
        <div class="box-promo box-promo-destaque">
            <a class="link-promo" href="#">
                <h6 class="destaque-texto-promo texto-promo">Smartphone Lenovo Legion Phone Duel 256gb - de R$
                    4.749,00 por R$ 4.000,00! </h6>
                <img class="img-promo img-destaque" src="assets/img/03_img01_SectionPromocoes_destaque.png"
                    alt="destaque">
            </a>
        </div>
        <!-- Promoção 1 -->
        <div class="box-promo box-promo-item1">
            <a class="link-promo" href="#">
                <img class="img-promo img-promo-item" src="assets/img/03_img02_SectionPromocoes_promocao01.png"
                    alt="destaque">
                <label for="" class="texto-promo texto-promo-item">
                    Pc Gamer G-fire HTG-311
                    De ̶R̶$̶ ̶3600,00̶
                    Por R$ 3.000,00
                </label>
            </a>
        </div>
        <!-- Promoção 2 -->
        <div class="box-promo box-promo-item2">
            <a class="link-promo" href="#">
                <img class="img-promo img-promo-item" src="assets/img/03_img03_SectionPromocoes_promocao02.png"
                    alt="destaque">
                <label for="" class="texto-promo texto-promo-item">
                    Headset Gamer JBL Quantum 100 Over Ear Preto
                    De ̶R̶$̶ ̶228,00̶
                    Por R$ 170,00

                </label>
            </a>
        </div>
        <!-- Promoção 3 -->
        <div class="box-promo box-promo-item3">
            <a class="link-promo" href="#">
                <img class="img-promo img-promo-item" src="assets/img/03_img04_SectionPromocoes_promocao03.png"
                    alt="destaque">
                <label for="" class="texto-promo texto-promo-item">
                    Lenovo IdeaPad Gaming 3i 82CGS00100
                    De ̶R̶$̶ ̶4̶.̶4̶5̶9̶,̶0̶0̶
                    Por R$ 3.999,00
                </label>
            </a>
        </div>
        <!-- Promoção 4 -->
        <div class="box-promo box-promo-item4">
            <a class="link-promo" href="#">
                <img class="img-promo img-promo-item" src="assets/img/03_img05_SectionPromocoes_promocao04.png"
                    alt="destaque">
                <label for="" class="texto-promo texto-promo-item">
                    New Nitendo 3ds Xl
                    De R$ 3.647,04 por R$ 3.100,00
                </label>
            </a>
        </div>
        <!-- Botao ver mais -->
        <div class="box-promo box-promo-botao">
            <a href="#" class="container btn btn-dark btn-vermais">Ver todos</a>
        </div>
    </div>
</div>
